

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.input-fields { 
	background-color: #1abc9c;
	border-radius: 10px;
	color: #ECF0F1;
}

.form-group {
	text-align: center;
	padding-bottom: 40px;
}

.form-group h2 {
	
}

.form-mileage {
	font-size: 95px;
	height: 82px;
	margin: auto;
	max-width: 190px;
	min-width: 190px;
	background-color: #26ecc5;
}

.row {
	  margin-right: 25px;
    margin-left: 25px;
}











