

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.input-fields { 
	background-color: #EF4836;
	border-radius: 10px;

}


.form-group {
	font-size: 25px;
}














