header {
	text-align: center;
}

form {
	max-width: 85%;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}

fieldset {
	border: 0px;
}

input {
	outline: none;
}
 
fieldset input, 
fieldset select {
	display: block;
	margin: 15px 0px;
}

button {
	display: block;
	margin: 15px auto;
	padding: 10px 20px;
}

.advanced {
	/*display: none;*/
}
